<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/app}">photo studio</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/app}">home</a></li>
			<li><a th:href="@{/app/customer}">Customers</a></li>
			<li><a th:href="@{/app/addcustomer}">Add Customers</a></li>
			<li><a th:href="@{/app/order}">Orders</a></li>
			<li><a th:href="@{/app/materialorder}">material Orders</a></li>
			<li><a th:href="@{/app/material}">Materials</a></li>
			<li><a th:href="@{/app/supplier}">Suppliers</a></li>
			<li><a th:href="@{/app/allprint}">Prints</a></li>
			<li><a th:href="@{/app/allphoto}">Photos</a></li>
			<li><a th:href="@{/app/alloutdoororder}">Outdoor</a></li>
			<li><a th:href="@{/app/allmaterialsold}">Material Sold</a></li>
			<li><a th:href="@{/app/allservice}">Services</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li><a th:href="@{/logout}">LogOut</a></li>
		</ul>
	</div>
</nav>