<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
			<div class="jumbotron">
				<h3>New Password</h3>
				<form class="form" th:object="${username}" th:method="post">
					<div class="form-group"><input type="password"
					class="form-control" th:field="${username.msg}" id="quantity"
					placeholder="password" required=""/></div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
		</form>
			</div>
		</div>
</body>
</html>
